!!! Strict
%html
  %head
    %title
      = [@title, "Padrino Sample Blog"].compact.join(" | ")
    = stylesheet_link_tag 'normalize', 'application'
    = javascript_include_tag 'jquery', 'application'
    = yield_content :include
  %body
    #header
      %h1 Sample Padrino Blog
      %ul.menu
      %li= link_to 'Blog', url_for(:posts, :index)
      %li= link_to 'About', url_for(:about)
    #container
      #main= yield
      #sidebar
        %p
          Space for content
        %ul.bulleted
          %li ...
    #footer
      Copyright (c) 2009-2018 Padrino

